.home-page .home-hadras-logo{
    /* height: 150px; */
    /* width: 200px; */
    /* align-self: center; */
    margin-bottom: 1vh;
    margin-top: 10vh;
    padding-top: 10vh;
}

.home-page .home-textbox{
    margin-top: 2vh;
}

input[type=text]{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
     border-radius: 20px;
     /* border: 1px solid #2d9fd9; */
     border: 1px solid rgb(201, 199, 199);
     /* color: rgb(201, 199, 199); */
     width: 500px;
     height: 40px;
     padding-left: 10px;
     padding-right: 20px;
}
        
input[type=text]:focus {
    outline: none;
    /* border: 1px solid #a0d18c; */
    border: 1px solid rgb(83, 83, 83);
    /* color:rgb(126, 125, 125); */
}  