.searching-page .searching-hadras-logo{
    /* height: 150px; */
    /* width: 200px; */
    /* align-self: center; */
    margin-bottom: 1vh;
    /* margin-top: 10vh;
    padding-top: 10vh; */
}

.searching-page .searching-textbox{
    margin-top: 2vh;
}

.container{
    width: 45% !important;
}